<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimaTrek - Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form id="searchForm">
            <input type="text" id="searchLocation" placeholder="Search for a place" required>
            <button type="submit">Search</button>
        </form>
        <div id="map" style="height: 500px;"></div>
        <div class="climateresponse">
            <h2 class="heading">Weather Details <small class="datetime"></small></h2>
            <div id="weather-info">
                <p>Select a location on the map or search above.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; <strong class="year"></strong> ClimaTrek. All rights reserved.</p>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="script.js"></script>
</body>
</html>
